body,html{
    margin:0;
    height:100vh;
    background-color: beige;
    background-image: url("https://static.vecteezy.com/system/resources/previews/022/737/904/non_2x/modern-city-scape-silhouette-simple-minimalist-blue-city-skyline-background-urban-cityscape-silhouettes-illustration-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60vh;
}
#Form{
    display: flex;
    flex-direction: column;
    border: 5px solid brown;
    padding: 20px;
    border-radius: 50px;
    background-color: skyblue;
}
input{
    height:30px;
    font-size:20px;
}
h1,h2{
    text-align: center;
}
h1{
    margin-bottom: 60px;
}
h2{
    margin-top: 40px;
}
input{
    margin-bottom: 10px;
    border-radius: 10px;
}
input:invalid{
    border-color: red;
}
input:valid{
    border-color:green;
}
input:focus{
    outline: none;
    border-color:blue;
    box-shadow: 2px 2px 5px 0;
}
button{
    border: none;
    display: block;
    margin:0 auto;
    color: black;
    background-color: beige;
    font-size: 30px;
    padding:20px;
    border-radius: 40px;
}
button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px 0 black;
}