body{
    margin:0;
    height:100vh;
}
#Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid brown;
}
input{
    height:30px;
    font-size:20px;
}
h1{
    text-align: center;
}
input{
    margin-bottom: 10px;
    border-radius: 10px;
}
input:invalid{
    border-color: red;
}
input:valid{
    border-color:green;
}
input:focus{
    outline: none;
    border-color:blue;
    box-shadow: 2px 2px 5px 0;
}